///
/// Dimension by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Main */

	#main {
		@include vendor('flex-grow', '1');
		@include vendor('flex-shrink', '1');
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'center');
		@include vendor('flex-direction', 'column');
		position: relative;
		max-width: 100%;
		z-index: 3;
		display: none;

		article {
			@include vendor('transform', 'translateY(0.25rem)');
			@include vendor('transition', (
				'opacity #{_duration(article)} ease-in-out',
				'transform #{_duration(article)} ease-in-out'
			));
			@include padding(2.5rem, 2.5rem, (2rem, 0, 1rem, 0));
			position: relative;
			width: 40rem;
			max-width: 100%;
			background-color: transparentize(_palette(bg), 0.15);
			border-radius: _size(border-radius);
			opacity: 0;

			&.timeout {
				display: none;
			}

			&.active.timeout {
				@include vendor('transform', 'translateY(0)');
				opacity: 1;
			}

			&.active {
				display: block !important;
			}

			.close {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 4rem;
				height: 4rem;
				cursor: pointer;
				text-indent: 4rem;
				overflow: hidden;
				white-space: nowrap;

				&:before {
					@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
					content: '';
					display: block;
					position: absolute;
					top: 0.75rem;
					left: 0.75rem;
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 100%;
					background-position: center;
					background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" zoomAndPan="disable"><style>line { stroke: #{_palette(border)}; stroke-width: 1; }</style><line x1="2" y1="2" x2="18" y2="18" /><line x1="18" y1="2" x2="2" y2="18" /></svg>');
					background-size: 20px 20px;
					background-repeat: no-repeat;
				}

				&:hover {
					&:before {
						background-color: _palette(border-bg);
					}
				}

				&:active {
					&:before {
						background-color: _palette(border-bg-alt);
					}
				}
			}

		}

		report {
			@include vendor('transform', 'translateY(0.25rem)');
			@include vendor('transition', (
				'opacity #{_duration(article)} ease-in-out',
				'transform #{_duration(article)} ease-in-out'
			));
			@include padding(2.5rem, 2.5rem, (2rem, 0, 1rem, 0));
			position: relative;
			width: 40rem;
			max-width: 100%;
			background-color: transparentize(#fefeff, 0);
			border-radius: 1px;
			opacity: 0;
			font-family: 'Roboto', sans-serif;

			&.timeout {
				display: none;
			}

			&.active.timeout {
				@include vendor('transform', 'translateY(0)');
				opacity: 1;
			}

			&.active {
				display: block !important;
			}

			.close {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 4rem;
				height: 4rem;
				cursor: pointer;
				text-indent: 4rem;
				overflow: hidden;
				white-space: nowrap;

				&:before {
					@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out');
					content: '';
					display: block;
					position: absolute;
					top: 0.75rem;
					left: 0.75rem;
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 100%;
					background-position: center;
					background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" zoomAndPan="disable"><style>line { stroke: #222}; stroke-width: 1; }</style><line x1="2" y1="2" x2="18" y2="18" /><line x1="18" y1="2" x2="2" y2="18" /></svg>');
					background-size: 20px 20px;
					background-repeat: no-repeat;
				}

				&:hover {
					&:before {
						background-color: _palette(border-bg);
					}
				}

				&:active {
					&:before {
						background-color: #fcfcfc;
					}
				}
			}

			p {
				font-family: 'Roboto', sans-serif;
				margin: 0 0 1rem 0;
				color: #101020;
				&.info{
					margin: 0 1rem 0 5%;
					font-size: 90%;
					padding: 0px;
					strong {
						font-weight: 600;
						color: inherit;
					}
				}
				&.tm {
					font-size: 0.9em;
					font-weight: _font(weight-bold);
					text-transform: uppercase;
					width: 140px;
					text-align: center;
					vertical-align: middle;
					background-color: #246678;
					border-radius: 4px;
					color: #fff;
					padding: 4px 5px 2px 5px;
					margin-bottom: 0px;
				}
				&.report-disclaimer {
					margin: 0 1rem 10px 0;
					font-size: 90%;
					color: #600;
					padding: 0 0 2px 10px;
					background-color: #eee;
					width: 100%;
					text-align: center;
				}
			}

			h1, h2 {
				color: #222244;
				font-weight: _font(weight-bold);
				line-height: 1.5;
				margin: 0 0 (_size(element-margin) * 0.5) 0;
				letter-spacing: 0.5;
			}

			h1 {
				font-size: 1.5rem;
				line-height: 1.3;
				text-transform: capitalize;
				letter-spacing: 0;
			}
		
			h2 {
				font-size: 1rem;
				line-height: 1.4;
				text-transform: none;
				letter-spacing: 0;
				margin: 1.5rem 0 0.25rem 0;
			}
		

			ul { 
				margin: 0 0 0.1rem 0;
				padding-left: 2px;

				li {
					list-style: none;
					background-image: url('../../../src/images/icon-check-03.png');
					background-repeat: no-repeat;
					background-position: 0px center;
					background-size: 18px;
	 
					color: #222244;
					font-size: 80%;
					padding-left: 20px;
				}
			}

			div {
				&.divTable{
					display: table;
					width: 100%;
					border-top: 1px solid #369;

					&.chart {
						margin-left: 0px;
						width: 100%;
						border: 0;
						max-width: 500px;
					}
					$tblwid: _size(element-margin) !global;
	
				}
				&.divTableRow {
					display: table-row;
					border: 1px solid;
					&:first-child {
						border-top: 1px solid;
					}
				}
				&.divTableCell {
					border: 0 solid;
					border-bottom: 1px solid #369;
					display: table-cell;
					padding: 2px 8px;
					color: #003;
					font-size: 90%;
					vertical-align: middle;
					&.barname {
						width: 50px;
						border-bottom: 0;
						font-size: 110%;
						display: inline-block;
						$namecolwid: _size(element-margin) !global;
					}
					&.barbody {
						padding: 0 0px 0 0px;
						border-top: 4px solid #fff;
						border-bottom: 0px solid #fff;
						color: #fff;
						font-size: 110%;
						font-weight: bold;
						text-align: center;
						display: inline-block;

						&.high {
							background-color: #dd3f23;
						}
						&.mid {
							background-color: #ff902A;
						}
						&.low {
							background-color: #4b67b4;
						}
						&.info {
							background-color: #70aa48;
						}
						&.empty {
							background-color: #fff;
							width: 10px;
						}
						&.w40{
							width: (40% * 0.9);
						}
						&.w20 {
							width: (20% * 0.9);
						}
						&.w0 {
							display: inline-block;
							width: 0px;
						}
					}
	
				}
				&.divTableHead {
					border: 0 solid #369;
					display: table-cell;
					padding: 2px 8px;
					color: #069;
					border-top: 0 solid;
					border-bottom: 1px solid;
					font-size: 80%;
					font-weight: bold;
				}
				&.divTableHeading {
					background-color: #EEE;
					display: table-header-group;
					font-weight: bold;
				}
				&.divTableFoot {
					background-color: #EEE;
					display: table-footer-group;
					font-weight: bold;
				}
				&.divTableBody {
					display: table-row-group;
				}
				&.tm {
					vertical-align: middle;
					margin-bottom: 1rem;
					padding-left: 75%;
				}

				&.divTableRow-chart {
					display: table-row;
					margin-left: 30px;
					font-size: 75%;
					width: 150px;
					border: 0;

					&:first-child {
						border-top: 1px solid;
					}
				}

				&.divTableCell-barbody {
					padding: 0 5px 0 5px;
					border-top: 4px solid #fff;
					border-bottom: 4px solid #fff;
					color: #fff;
					font-weight: bold;
					text-align: center;
					&.high {
						background-color: #dd3f23;
					}
					&.mid {
						background-color: #ff902A;
					}
					&.low {
						background-color: #4b67b4;
					}
					&.info {
						background-color: #70aa48;
					}
					&.empty {
						background-color: #fff;
						width: 10px;
					}			
				}
			}

			hr {
				border: 0;
				border-bottom: solid 1px #369;
				margin: 0;
				width: 100%;
			}

			table {
				margin: 0 0 _size(element-margin) 0;
				width: 100%;
				color: #004;
		
				tbody {
					tr.rep {
						border: solid _size(border-width) #111;
						border-left: 0;
						border-right: 0;
					}
				}
				
		
				td {
					padding: 0.25em 0.25em;
					&.barbody {
						padding: 0 5px 0 5px;
						border-top: 4px solid #fff;
						border-bottom: 4px solid #fff;
						color: #fff;
						font-weight: bold;
						text-align: center;
						&.high {
							background-color: #dd3f23;
						}
						&.mid {
							background-color: #ff902A;
						}
						&.low {
							background-color: #4b67b4;
						}
						&.info {
							background-color: #70aa48;
						}
						&.empty {
							background-color: #fff;
							width: 10px;
						}
					}
					
					&.barname {
						width: 90px;
					}

				}
		
				th {
					font-size: 0.9em;
					font-weight: _font(weight-bold);
					padding: 0 0.75em 0 0.75em;
					text-align: left;
					color: #333;
				}
		
				thead {
					border-bottom: solid (_size(border-width) * 2) _palette(border);
				}

				&.barchart {
					margin-left: 30px;
					font-size: 75%;
					width: 150px;
					border: 0;
				}
			}
			img.icon {
				width: 16px;
				height: 16px;
				margin-right: 10px;
				vertical-align: middle;
			}
			
		}

		@include breakpoint(small) {
			article {
				@include padding(2rem, 2rem, (1.5rem, 0, 0.5rem, 0));
				.close {
					&:before {
						top: 0.875rem;
						left: 0.875rem;
						width: 2.25rem;
						height: 2.25rem;
						background-size: 14px 14px;
					}
				}
			}
		}

		@include breakpoint(xsmall) {
			article {
				@include padding(2rem, 1.5rem, (1rem, 0, 0.5rem, 0));
			}
		}
	}